ol{
    list-style: none;
    display: flex;
}
li{
    padding: 10px;
}

.breadcrumb li:after{
    content: '/';
    margin-left:20px;
}

.breadcrumb li:last-child:after{
    content: '';
}

.breadcrumb a{
    color: black;
    text-decoration: none;
}

.breadcrumb a:hover{
    text-decoration: underline;
}
