ul{
    /* display: grid;
    grid-template-columns: auto auto auto auto; */
    display: flex;
    list-style: none;
    width: 60%;
    left: 20%;
    position: relative;
}

li{
    border: 1px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    list-style: none;
    font-weight: 600;
    padding: 15px;
}

ul:last-child{
    border-right: 2px solid black;
}

a{
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: underline;
}